<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <div class="profile-picture-container">
              <img id="profile-image" src="assets/img/placeholder.png" alt="avatar"
                class="profile-picture rounded-circle img-fluid" style="width: 150px;">
              <label for="file-upload" class="custom-file-upload">
                <i class="profile-icon"></i>
              </label>
              <input id="file-upload" type="file" name="file" onchange="Profile.upload_profile_image(this)" multiple />
            </div>
            <h5 class="profile-full-name my-3"></h5>
            <p class="profile-role text-muted mb-1"></p>
            <p class="profile-address" class="text-muted mb-4"></p>

          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">ID</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-id text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-first-name text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-last-name text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-email text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-phone text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-country text-muted mb-0"></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-city text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Zip code</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-zip-code text-muted mb-0"></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="profile-address text-muted mb-0"></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>