<section class="admin-content padding_top">
    <div class="container">        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">All Students</h1>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table id="students-data-table"
                            class="table responsive table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Email</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>               
            </div>
        </div>

       
</section>
