:root {}

.full-page-form {
    min-height: 600px;
}

.full-page-form body {
    height: 100%;
}

.form-group .thicker-input {
    border-width: 2px;
}

.full-page-form-section {
    height: 100%;
    display: flex;
    padding: 25px 0;
    /* background: linear-gradient(to left, #ee380f 0%, #f9b700 60%); */
    background: #fff5de;
}

@media screen and (min-width:992px) {
    .full-page-form-section {
        height: 100%;
        align-items: center;
        display: flex;
    }
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    background-image: none;
    opacity: 0.1;
    cursor: unset;
}

.loader-wrapper {
    /* display:none;position:absolute;left:50% */
    display: flex;
    justify-content: center;
}

.loader-wrapper div {
    /* position: relative;left: -50%; */
}

.loader-wrapper div img {
    height: 150px;
    margin: 50px 0;
}

.hidden {
    display: none;
}

#register {
    display: none;
}

.form-box {
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid rgb(219, 219, 219, 219);
    background: white;
}

.d-flex.justify-content-between.mt-5.flex-column.flex-md-row p a {
    display: block;
}

.form-box {
    position: relative;
}

.form-box::before {
    content: "";
    display: block;
    position: absolute;
    height: 74px;
    width: 105px;
    background-image: url(../img/logo.svg);
    top: 0px;
    right: 0px;
    margin: 10px 35px;
    background-repeat: no-repeat;
}

.full-page-form-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
}

.error {
    display: block;
    color: #a94442;
    line-height: 25px;
}

.error::before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/errorexcl.svg);
    display: inline-block;
    height: 27px;
    width: 22px;
    vertical-align: middle;
    margin: 0 15px;
}

label .error {
    display: flex;
    align-items: center;
}

@media screen and (max-width:430px) {
    .form-box::before {
        display: none;
    }
    .error::before {
        display: none;
    }
    label.error {
        text-align: center;
    }
    .thicker-input {
        position: relative;
    }
    .thicker-input::before {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/errorexcl.svg);
        display: inline-block;
        height: 27px;
        width: 22px;
        vertical-align: middle;
        margin: 0 15px;
    }
}

input.error {
    border-color: rgb(169 68 66 / 40%)!important;
    -webkit-box-shadow: 0 1px 6px 0 rgb(169 68 66 / 40%);
    box-shadow: 0 1px 6px 0 rgb(169 68 66 / 40%);
}


.form-contact .form-control:focus {
    outline: 0;    
    box-shadow: 0 0 5px 2px #f0e9ff;
    -webkit-box-shadow: 0 0 5px 2px #f0e9ff;
}

a:focus, .button:focus, button:focus, .btn:focus {
    /* box-shadow: 0 0 5px 2px #ee390f;
    -webkit-box-shadow: 0 0 5px 2px #ee390f; */
    color: #ee380f;
    border-color: #f7b600;
}

#courses-data-table_wrapper a,
#students-data-table_wrapper a
{
    color: #f7b600;
}

.courses-table{
    margin: 35px;
}
@media screen and (min-width:992px){
    .courses-table{
        margin: 50px;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

thead{
    background: #f7b600;
    color: white;
}

.btn-primary,.add-course{
    background: #f7b600;
    color: white;
    border:2px solid #f7b600
}
.btn-primary:hover,.add-course:hover{
    background: white;
    color: #f7b600;
    border:2px solid #f7b600
}

.btn-secondary{
    background: #ee380f;
    color: white;
    border:2px solid #ee380f
}
.btn-secondary:hover{
    background: white;
    color: #ee380f;
    border:2px solid #ee380f
}

.main_menu .main-menu-item ul .log_out{
    margin: 0;
}

#courses-data-table_wrapper,
#students-data-table_wrapper
{
    display: block;
}

#courses-data-table_length,
#students-data-table_length
{
    justify-self: flex-start;
    display: flex;
}

#courses-data-table_filter label,
#students-data-table_filter label
{
    display: flex;
    justify-self: end;
}

.paginate_button.previous,
.paginate_button.next{
    padding: 0 5px;
}

.paginate_button.disabled a{
    color: #66666656!important;
    pointer-events: none;
}

#courses-data-table_length label select,
#students-data-table_length label select
{
    margin: 0 5px;
}

#courses-data-table_info,
#students-data-table_info
{
    display: none;
}

.table-responsive{
    padding: 15px 0;
}


div.dataTables_wrapper div.dataTables_processing{
    top: 0%!important;
}

.modal-header{
    flex-direction: row-reverse;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none!important;
}

#courses-data-table,
#students-data-table
{
    min-width: 100%;
}

#course-chart-container{
    display: none;
}

.special_cource.padding_top .container{
    padding-top:50px ;
}

.edit-icon{
    content: url('../img/icons/edit.svg');
    height: 20px;
    height: 30px;
    background: #f7b600;
    padding: 5px;
    border-radius: 50%;
    margin: 0 5px;

}
.delete-icon{
    content: url('../img/icons/delete.svg');
    height: 20px;
    height: 30px;
    background: #f7b600;
    padding: 5px;
    border-radius: 50%;
    margin: 0 5px;
}

.course-id-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.dataTables_wrapper div.dataTables_processing {
    position: static;
    width: auto;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    padding: 1em 0;
}


