@import url(https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:300,400,500,600,700,800|Roboto:300,400,500);

.btn_1, .btn_2:hover, .main_menu .navbar-toggler:after {
  background-image: linear-gradient(to left, #ee390f 0, #f9b700 51%, #ee390f 100%)
}

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px
}

.message_submit_form:focus {
  outline: 0
}

input:focus, input:hover {
  outline: 0 !important
}

.section_padding {
  padding: 140px 0
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .section_padding {
    padding: 80px 0
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .section_padding {
    padding: 70px 0
  }
}

@media (max-width:576px) {
  .section_padding {
    padding: 70px 0
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .section_padding {
    padding: 70px 0
  }
}

.single_padding_top {
  padding-top: 140px !important
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .single_padding_top {
    padding-top: 70px !important
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .single_padding_top {
    padding-top: 70px !important
  }
}

@media (max-width:576px) {
  .single_padding_top {
    padding-top: 70px !important
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .single_padding_top {
    padding-top: 80px !important
  }
}

.padding_top {
  padding-top: 140px
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .padding_top {
    padding-top: 80px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .padding_top {
    padding-top: 70px
  }
}

@media (max-width:576px) {
  .padding_top {
    padding-top: 70px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .padding_top {
    padding-top: 70px
  }
}

a {
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s
}

a:hover {
  outline: 0;
  text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
  color: #0c2e60;
  font-family: Poppins, sans-serif
}

p {
  color: #666;
  font-family: Roboto, sans-serif;
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 0;
  color: #888
}

h2 {
  font-size: 44px;
  line-height: 28px;
  color: #0c2e60;
  font-weight: 600;
  line-height: 1.222
}

@media (max-width:576px) {
  h2 {
    font-size: 22px;
    line-height: 25px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  h2 {
    font-size: 24px;
    line-height: 25px
  }
}

h3 {
  font-size: 24px;
  line-height: 25px
}

@media (max-width:576px) {
  h3 {
    font-size: 20px
  }
}

h5 {
  font-size: 18px;
  line-height: 22px
}

img {
  max-width: 100%
}

.btn:focus, .button:focus, a:focus, button:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.mb_110 {
  margin-bottom: 110px
}

@media (max-width:576px) {
  .mb_110 {
    margin-bottom: 220px
  }
}

.mt_130 {
  margin-top: 130px
}

@media (max-width:576px) {
  .mt_130 {
    margin-top: 70px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .mt_130 {
    margin-top: 70px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .mt_130 {
    margin-top: 70px
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .mt_130 {
    margin-top: 70px
  }
}

.mb_130 {
  margin-bottom: 130px
}

@media (max-width:576px) {
  .mb_130 {
    margin-bottom: 70px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .mb_130 {
    margin-bottom: 70px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .mb_130 {
    margin-bottom: 70px
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .mb_130 {
    margin-bottom: 70px
  }
}

@media only screen and (min-width:1200px) and (max-width:3640px) {
  .container {
    max-width: 1170px
  }
}

@media (max-width:1200px) {
  [class*=hero-ani-] {
    display: none !important
  }
}

.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: 0 !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s
}

.submit_btn:hover {
  background: 0 0
}

.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0 12px 20px 0 rgba(255, 126, 95, .15)
}

.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0 10px 30px 0 rgba(193, 34, 10, .2)
}

@media (max-width:576px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px
  }
}

.btn_2 {
  display: inline-block;
  padding: 13px 39px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #0c2e60;
  color: #0c2e60;
  font-size: 14px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  font-size: 15px;
  font-weight: 500
}

.btn_2:hover {
  color: #fff !important;
  background-position: right center;
  border: 1px solid transparent
}

@media (max-width:576px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 25px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px
  }
}

.btn_4 {
  background-color: #ff663b;
  padding: 3.5px 21px;
  background: #ff663b;
  text-transform: capitalize;
  display: inline-block;
  border: 2px solid transparent;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff
}

.btn_4:hover {
  background: rgba(255, 102, 59, .8);
  color: #fff
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #edeff2;
  text-transform: uppercase;
  background-color: #ff663b;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s
}

@media (max-width:767px) {
  .button {
    font-size: 13px;
    padding: 9px 24px
  }
}

.button:hover {
  color: #fff
}

.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0
}

.button-link:hover {
  background: 0 0;
  color: #3b1d82
}

.button-header {
  color: #fff;
  border-color: #edeff2
}

.button-header:hover {
  background: #b8024c;
  color: #fff
}

.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
  margin-bottom: 0
}

.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px
}

.single-post-area .navigation-area p {
  margin-bottom: 0
}

.single-post-area .navigation-area h4 {
  font-size: 18px;
  line-height: 25px
}

.single-post-area .navigation-area .nav-left {
  text-align: left
}

@media (max-width:767px) {
  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px
  }
}

.single-post-area .navigation-area .nav-right {
  text-align: right
}

.main_menu {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999
}

.main_menu .navbar-brand {
  padding: 0 !important
}

.main_menu .navbar {
  padding: 20px 0
}

.main_menu .navbar-toggler {
  position: relative;
  z-index: 1
}

.main_menu .navbar-toggler:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 200% auto
}

.main_menu .main-menu-item {
  text-align: right;
  justify-content: right
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .main_menu .main-menu-item {
    padding-left: 25px
  }
}

.main_menu .main-menu-item ul li .nav-link {
  color: #0c2e60;
  font-size: 15px;
  padding: 0 24px;
  font-family: Roboto, sans-serif
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .main_menu .main-menu-item ul li .nav-link {
    padding: 0 16px
  }
}

.main_menu .main-menu-item ul li .nav-link:hover {
  color: #ee390f
}

.main_menu .main-menu-item ul .btn_1 {
  color: #fff;
  font-size: 14px;
  padding: 11.5px 33px;
  margin-left: 41px
}

@media (max-width:576px) {
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important
  }

  .navbar-light .navbar-toggler {
    border-color: transparent
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important
  }

  .main_menu .main-menu-item {
    text-align: left !important
  }

  .main_menu .main-menu-item .nav-item {
    padding: 5px 15px !important
  }

  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important
  }

  .navbar-nav {
    align-items: start !important
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important
  }

  .navbar-light .navbar-toggler {
    border-color: transparent
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important
  }

  .main_menu .main-menu-item {
    text-align: left !important
  }

  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important
  }

  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important
  }

  .navbar-nav {
    align-items: start !important
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important
  }

  .navbar-light .navbar-toggler {
    border-color: transparent
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important
  }

  .main_menu .main-menu-item {
    text-align: left !important
  }

  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important
  }

  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important
  }

  .navbar-nav {
    align-items: start !important
  }
}

.single_page_menu .logo_2 {
  display: none
}

.single_page_menu .logo_1 {
  display: inherit
}

.single_page_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 0 24px;
  font-family: Roboto, sans-serif
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .single_page_menu .main-menu-item ul li .nav-link {
    padding: 0 16px
  }
}

.footer-area {
  background-color: #f7f7f7;
  padding: 100px 0 20px
}

@media (max-width:991px) {
  .footer-area {
    padding: 70px 0 30px
  }
}

.footer-area .form-control {
  background-color: transparent
}

.footer-area .form-group {
  margin-top: 25px
}

@media (max-width:991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 30px
  }
}

.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8
}

.footer-area .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px
}

@media (max-width:1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 18px
  }
}

@media (max-width:991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px
  }
}

.footer-area .single-footer-widget ul li {
  margin-bottom: 10px
}

.footer-area .single-footer-widget ul li a {
  color: #555;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 15px
}

.footer-area .single-footer-widget ul li a:hover {
  color: #ff663b
}

.footer-area .single-footer-widget ul li:last-child {
  margin-bottom: 0
}

.footer-area .single-footer-widget input {
  height: 40px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  color: #999;
  border: 0 solid transparent;
  font-family: Roboto, sans-serif
}

.footer-area .single-footer-widget input:focus {
  outline: 0;
  box-shadow: none
}

.footer-area .single-footer-widget .click-btn {
  background-color: #ff663b;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  position: relative;
  left: 0
}

.footer-area .single-footer-widget .click-btn:focus {
  outline: 0;
  box-shadow: none
}

@media (max-width:375px) {
  .footer-area .single-footer-widget .click-btn {
    margin-top: 10px
  }
}

@media (min-width:400px) {
  .footer-area .single-footer-widget .click-btn {
    left: -50px
  }
}

.footer-area .footer_1 img {
  margin-bottom: 35px
}

.footer-area .footer_1 p {
  margin-bottom: 15px
}

.footer-area .footer_3 .footer_img .single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 15%
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%
  }
}

.footer-area .footer_3 .footer_img .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s
}

.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
  opacity: .5
}

.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px
}

.footer-area .contact_info:last-child {
  margin-bottom: 0
}

.footer-area .contact_info p {
  margin-bottom: 10px
}

.footer-area .contact_info p span {
  color: #0c2e60;
  font-size: 16px
}

.footer-area .btn {
  background-color: #ff663b;
  color: #fff;
  width: 40px;
  border-radius: 0;
  height: 40px;
  padding: 0;
  border-radius: 2px !important
}

.footer-area .input-group {
  border: 1px solid #dedede;
  padding: 5px
}

.footer-area .input-group ::placeholder {
  font-size: 13px;
  color: #999
}

.footer-area .container-fluid {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden
}

.footer-area .btn_1 {
  margin-top: 0
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px
}

b {
  color: #ff663b
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 16px
}

h6 {
  font-size: 14px
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em
}

.button-area {
  background: #fff
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input:focus {
  outline: 0
}

.input-group-icon {
  position: relative
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3
}

.input-group-icon .single-input {
  padding-left: 45px
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none
}

.single-textarea:focus {
  outline: 0
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input-primary:focus {
  outline: 0;
  border: 1px solid #ff663b
}

.mt-10 {
  margin-top: 10px
}

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee
}

.mb-30 {
  margin-bottom: 30px
}

.mt-30 {
  margin-top: 30px
}

.contact-info {
  margin-bottom: 25px
}

.contact-info__icon {
  margin-right: 20px
}

.contact-info__icon span {
  color: #8f9195;
  font-size: 27px
}

.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px
}

.form-contact label {
  font-size: 14px
}

.form-contact .form-group {
  margin-bottom: 30px
}

.form-contact .form-group .btn_1 {
  margin-bottom: -30px
}

.form-contact .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: 0 0
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none
}

.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999
}

.form-contact textarea {
  border-radius: 12px;
  height: 100% !important
}

@media (max-width:576px) {
  .contact-section .btn_1 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .contact-section .btn_1 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .contact-section .btn_1 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .contact-section .btn_1 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
  }
}

.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0;
  max-width: 500px;
  width: 100%
}

.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px
}

.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0;
  color: #fff;
  opacity: 1;
  cursor: pointer
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  padding-bottom: 10px
}

.modal-message .modal-dialog .modal-content .modal-header p {
  display: block
}

.footer-area {
  background-color: #f7f7f7;
  padding: 100px 0 20px
}

@media (max-width:991px) {
  .footer-area {
    padding: 70px 0 30px
  }
}

.footer-area .form-control {
  background-color: transparent
}

.footer-area .form-group {
  margin-top: 25px
}

@media (max-width:991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 30px
  }
}

.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8
}

.footer-area .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px
}

@media (max-width:1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 18px
  }
}

@media (max-width:991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px
  }
}

.footer-area .single-footer-widget ul li {
  margin-bottom: 10px
}

.footer-area .single-footer-widget ul li a {
  color: #555;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 15px
}

.footer-area .single-footer-widget ul li a:hover {
  color: #ff663b
}

.footer-area .single-footer-widget ul li:last-child {
  margin-bottom: 0
}

.footer-area .single-footer-widget input {
  height: 40px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  color: #999;
  border: 0 solid transparent;
  font-family: Roboto, sans-serif
}

.footer-area .single-footer-widget input:focus {
  outline: 0;
  box-shadow: none
}

.footer-area .single-footer-widget .click-btn {
  background-color: #ff663b;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  position: relative;
  left: 0
}

.footer-area .single-footer-widget .click-btn:focus {
  outline: 0;
  box-shadow: none
}

@media (max-width:375px) {
  .footer-area .single-footer-widget .click-btn {
    margin-top: 10px
  }
}

@media (min-width:400px) {
  .footer-area .single-footer-widget .click-btn {
    left: -50px
  }
}

.footer-area .footer_1 img {
  margin-bottom: 35px
}

.footer-area .footer_1 p {
  margin-bottom: 15px
}

.footer-area .footer_3 .footer_img .single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 15%
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%
  }
}

.footer-area .footer_3 .footer_img .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s
}

.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
  opacity: .5
}

.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px
}

.footer-area .contact_info:last-child {
  margin-bottom: 0
}

.footer-area .contact_info p {
  margin-bottom: 10px
}

.footer-area .contact_info p span {
  color: #0c2e60;
  font-size: 16px
}

.footer-area .btn {
  background-color: #ff663b;
  color: #fff;
  width: 40px;
  border-radius: 0;
  height: 40px;
  padding: 0;
  border-radius: 2px !important
}

.footer-area .input-group {
  border: 1px solid #dedede;
  padding: 5px
}

.footer-area .input-group ::placeholder {
  font-size: 13px;
  color: #999
}

.footer-area .container-fluid {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden
}

.footer-area .btn_1 {
  margin-top: 0
}